* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela-body{
    height: 90vh;
    width: 100vw;
    background-color: black;
}

.instrucoes p:nth-child(1) {
    margin: 20px 0 10px 0;
    color: #acacac;
}

.instrucoes p {
    color: #acacac;
    margin-bottom: 15px;
}

header {
    display: flex;
    justify-content: center;
}

.instrucoes {
    height: 90px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    border-bottom: 10px solid #00a708;
    background: linear-gradient(#60c5ff, #ebf8ff);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 80px;
    animation: pipeAnimation 2s infinite linear;
}
.mario{
    position: absolute;
    bottom: 0px;
    width: 130px;
}

.jump{
    animation: marioJump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 600px;
    height: 200px;
    margin-top: 10px;
    animation: cloudsAnimation 4s infinite linear;
}

.game-status{
    width: 100%;
    position: absolute;
}

.game-over{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonStart{
    width: 152px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    cursor:pointer;
}
.buttonStart:hover{
    border: 2px solid #333;
    border-radius: 10px;
}

@keyframes pipeAnimation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes marioJump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 140px;
    }
    50%{
        bottom: 140px;
    }
    60%{
        bottom: 140px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes cloudsAnimation{
    from{
        right: -600px;
    }
    to{
        right: 100%;
    }
}
